body {
	padding: 0;
	margin: 0;
	background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
	color: white;
}

a {
	text-decoration-line: none;
	text-decoration: none;
	color: rgb(255, 255, 255);
}

a:hover {
	text-decoration: none !important
}

#app {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	text-align: center;
}

.main_top {
	font-size: 20px;
}

.c2 {
	height: 400px;
}

.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	width: 100%;
	height: 100vh;
	z-index:-1;
}

.slide-container {
	position: fixd;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	top:10%;
	/* z축을 한칸 뒤로 */
	z-index:-1;
}

.slide {
	position: absolute;
	display: none;
	z-index: 0;
}

.slide.enabled {
	display: block;
}

.slide-big-text p {
	margin: 0;
	font-size: 45px;
	font-weight: bold;
	line-height: 1.35;
	letter-spacing: -1.5px;
	word-spacing: 1.5px;
	text-align: center;
}

.slide-small-text {
	margin-top: 20px;
	margin-left: 5px;
}

.slide-small-text p {
	font-size: 18px;
	margin: 0;
}

.scdown {
	position: absolute;
	padding: 30px 0;
	width: 100%;
	height: 50px;
	text-align: center;
	bottom: 0px;
}

.scdown-text {
	transform: translate(0, 20vh);
} /*# sourceMappingURL=cdepen.css.map */

/* 여기부터 마귀다. */

.header{
	position: fixed;
  top: 99px;
  left: 155px;
  background: pink;
}
#header-time {
	font: lialic bold 1.5em/1em Georgin, serif;
	font-size: 18px;
	color: white;
	top: 56px;
	left: 104px;
	width: auto;
	height: 30px;
	position: fixed;
	display: flex;
}

.header-logo {
	font-size: 25px;
	top: 40px;
	right: 45.5%;
	width: 100px;
	height: 80px;
	position: fixed;
	text-align: center;
	display: flex;
}

.header-login {
	font-size: 25px;
	top: 56px;
	right: 5%;
	width: 300px;
	height: 80px;
	position: fixed;
	text-align: center;
	display: flex;
}
.divider{
	font-size: 25px;
	top: 200px;
	right: 10%;
	width: 200px;
	height: 80px;
	
	text-align: center;
	display: inline-block;
}

.close {
	font-size: 13px;
	background-color: transparent;
	color: white;
	border: 1px solid white;
	border-radius: 50px;
	display: inline-block;
	position: fixed;
	top: 44px;
	right: 32px;
	height: 41px;
	width: 128px;
	z-index: 5;
}

* {
	box-sizing: border-box;
}

.top {
	background-color: transparent;
	display: inline-block;
	float: right;
	margin-top: 50px;
	top: 70px;
	right: 100px;
	height: 0px;
	width: 250px;
}

.menu {
	font-size: 17px;
}

.hamburger input[type="checkbox"] {
	width: 130px;
	height: 50px;
	position: absolute;
	top: -6px;
	left: -8px;
	display: block;
	z-index: 3;
	opacity: 0;
	cursor: pointer;
}

.hamburgerlines {
	width: 30px;
	height: 20px;
	position: absolute;
	top: 11px;
	left: 70px;
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.hamburgerlines .lines {
	display: block;
	height: 4px;
	width: 90%;
	background: #fff;
	border-radius: 5px;
}

.hamburger {
	position: relative;
}

.menu-items {
	padding-top: 100px;
	transform: translate(150%);
	transition: transform 0.5s ease-in-out;
	padding-left: 15px;
	background: #6a2f2f;
	margin-top: -3px;
	color: #fff;
	padding-bottom: 1rem;
	max-width: 400px;
	width: 100%;
	height: 100vh;
	overflow: scroll;
}

.menu-items li {
	margin-bottom: 2rem;
	margin-right: 2.5rem;
	font-size: 1rem;
}

.hamburger input[type="checkbox"]:checked ~ .menu-items {
	display: block;
	transform: translate(55%);
	background: #232323;
}

.hamburger input[type="checkbox"]:checked ~ .hamburgerlines .lines {
	background: #fff;
}

.hamburgerlines .line1 {
	transform-origin: 0% 0%;
	transition: transform 0.3s ease-in-out;
}

.hamburgerlines .line3 {
	transform-origin: 0% 100%;
	transition: transform 0.3s ease-in-out;
}

.hamburger input[type="checkbox"]:checked ~ .hamburgerlines .line1 {
	transform: rotate(45deg);
}

.hamburger input[type="checkbox"]:checked ~ .hamburgerlines .line2 {
	display: none;
}

.hamburger input[type="checkbox"]:checked ~ .hamburgerlines .line3 {
	transform: rotate(-45deg);
}