<!doctype html>
<html lang="ko" xmlns:v-on="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/basic">
<head>
<title>채팅방</title>
<meta charset="utf-8">


<!-- header에서 들고온 link -->
<link rel="stylesheet" th:href="@{/css/style.css}" />
<link rel="stylesheet"
	th:href="@{/plugin/mCustomScrollbar/jquery.mCustomScrollbar.min.css}" />

</head>





<body>

<th:block layout:fragment="title">
	<h1 class="page-title">		
		<span v-text=localStorage.getItem('wschatroom.roomName')>
			채팅방
		</span>
	</h1>
</th:block>

	<!-- 위에는 파란색 대가리 부분을 의미한다!     -->
<th:block layout:fragment="content">
	<div id="wrapper">
		<div id="app">
			<div class="row row-inline-block small-spacing">
				<div class="col-xs-12">
					<div class="box-content">
						<div class="clearfix">
							<h4 class="box-title pull-left"></h4>
							<th:block layout:fragment="search"></th:block>
						</div>
						<th:block layout:fragment="paging">
							<div class="input-group">
								<input type="text" class="form-control" v-model="room_name"
									v-on:keyup.enter="createRoom">
								<!-- 방 개설하는 데 필수적 요소 -->
								<button class="btn btn-primary" type="button"
									@click="createRoom">채팅방 개설</button>
							</div>
						</th:block>
					</div>

					
				</div>
			</div>
		</div>
	</div>
	</th:block>
	</body>
	<th:block layout:fragment="script">
	<!-- JavaScript -->
	<script src="/webjars/vue/2.5.16/dist/vue.min.js"></script>
	<script src="/webjars/axios/0.17.1/dist/axios.min.js"></script>
	<script>

	window.onpageshow = function(event) {
	    this.roomId=localStorage.getItem('wschatroom.roomId');
	    if ( event.persisted || (window.performance && window.performance.navigation.type == 2)) {
	    	deleteChatRoom();
	        
	    }
	}

	let deleteChatRoom = async()=>{
        try{
            const response = await axios.get("/chatroom/room/exit/"+this.roomId)
            if(response.data == 0){	//채팅방에 남아있는 사람이 없다면
               try{
                   var params = new URLSearchParams();
                   params.append("name",this.roomId);
                
                   const response1= await axios.post("/chatroom/eraseit", params)	//해당채팅방 db가 아닌 서비스에서 관리하는 rooms에서 제거
                   window.location.href="/chatroom/room"
               }
               catch{

               }

            }
            else{
                window.location.href="/chatroom/room"
            }
        }
        catch{
        }
    }


	
    var vm = new Vue({
        el: '#app',
        data: {
            room_name : '',
            chatrooms: [
            ]
        },
        created() {
            this.findAllRoom();
        },
        methods: {
            findAllRoom: function() {
                axios.get('/chatroom/rooms').then(response => { this.chatrooms = response.data; });
            },
            
            //방을 생성하는 부분
            createRoom: function() {
                if("" === this.room_name) {
                    alert("방 제목을 입력해 주십시요.");
                    return;
                } else {
                    var params = new URLSearchParams();
                    params.append("name",this.room_name);
                    
                    //여기는 실험용
                    params.append("maker",'[(${info.userId})]');
                    
                    //

                    axios.post('/chatroom/room', params)
                    
                        .then(
                            response => {
                                alert(response.data.roomName+"방 개설에 성공하였습니다.")                                
                                this.room_name = '';
                                this.findAllRoom();
                                
                              		//들어갈 때 닉네임을 입력하는 부분
                                	
                                	var sender = '[(${info.userId})]';
                              		//이게 룸아이디다!!
                                	var roomId=response.data.roomId;
                                	
                                	console.log("여기까지는 됨2");
                                	if(sender !== "") {
                                	
                                    localStorage.setItem('wschatroom.roomName',response.data.roomName);  
                                    localStorage.setItem('wschatroom.sender',sender);  
     			                    localStorage.setItem('wschatroom.roomId',roomId);
     			                   	localStorage.setItem('wschatroom.roomMaker',sender); // roomMaker값 넣기 */
                                    window.location.href="/chatroom/room/enter/"+roomId;
                                }
                            }
                        )
                        .catch( response => { alert("채팅방 개설에 실패하였습니다."); } );
                }
            }
        }
    });
</script>
</th:block>
</html>