.white{
    font:lialic bold 1.5em/1em Georgin, serif; color: white;
}

.header-time{
    top: 53px;
    left: 104px;
    position: fixed;
    display: inline-block;
    font:lialic bold 1.5em/1em Georgin, serif; color: white;
}

.header-logo{
    top: 40px;
    right: 46.5%;
    position: fixed;
    text-align: center;
    display: inline-block;
}


.close{
    font-size: 10px;
    background-color: #e96f92, #75517d;
    color: white;
    border: 2px solid #6a554e;
    border-radius: 50px;
    display: inline-block;
    position: fixed;
    top: 39px;
    right: 32px;
    height: 41px;
    width: 130px;
}

*{
    box-sizing: border-box;
}

/*---------------------------------menu-------------------------------------  */
.top_menu{
    background-color: #6a2f2f;
    display: inline-block;
    position: fixed;
    top: 50px;
    right: 82px;
    height: 20px;
    width: 65px; 
}

.aaa{
    overflow: hidden;
    width: 100%; 
    height: 1200px;
}

.menu {
    font-size: 17px;
}


.hamburger input[type="checkbox"]{
    width: 130px;
    height: 50px;
    position: absolute;
    top: -6px;
    left: -8px;
    display:block ;
    z-index: 3;
    opacity: 0;
    cursor: pointer;
}

.hamburgerlines{
    width: 30px;
    height: 20px;
    position: absolute;
    top: 11px;
    left: 70px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hamburgerlines .lines{
    display: block;
    height: 4px;
    width: 90%;
    background: #fff;
    border-radius: 5px; 
}

.hamburger{
    position: relative;
}

.menu-items{
    padding-top: 100px;
    transform: translate(150%);
    transition: transform 0.5s ease-in-out;
    padding-left: 15px;
    background: #6a2f2f;
    margin-top: -3px;
    color: #fff;
    padding-bottom: 1rem;
    max-width: 400px;
    width: 100%;
    height: 100vh;
    overflow: scroll;
}

.menu-items li{
    margin-bottom: 2rem;
    margin-right: 2.5rem;
    font-size: 1rem;
}

.hamburger input[type="checkbox"]:checked ~ .menu-items{
    display: block;
    transform: translate(55%);
    background: #232323;
    
}

.hamburger input[type="checkbox"]:checked ~ .hamburgerlines .lines{
    background: #fff;
}

.hamburgerlines .line1{
    transform-origin: 0% 0%;
    transition: transform 0.3s ease-in-out;    
}

.hamburgerlines .line3{ 
    transform-origin: 0% 100%;
    transition: transform 0.3s ease-in-out;  
}

.hamburger input[type="checkbox"]:checked ~ .hamburgerlines .line1{
    transform: rotate(45deg);
}

.hamburger input[type="checkbox"]:checked ~ .hamburgerlines .line2{
    display: none;
}


.hamburger input[type="checkbox"]:checked ~ .hamburgerlines .line3{
    transform: rotate(-45deg);
}


/*--------------------------------------------------  */

/* //여기 이름 바꿔야함// */

.top_main1 {
    width: 900px; 
    height: 680px; 
    margin: 0 auto; 
    margin-top: 10px;
}



/* 여기까지 */


.bbbb {
    margin-top: 120px;
}


table {
    width: 900px;
    text-align: center;
    border: 1px solid #6a554e;
    border-spacing: 1px;
    font-family: 'Cairo', sans-serif;
    margin: auto;
}

caption {
    font-weight: bold;
}

table td {
    
    padding: 1px;
    background-color: #eee;
}

table th {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

/* 테이블 영역에 있는 img만 적용시키는 방법 배우기 */

img {
    border-radius: 10px;
    width: 90px;
    height: 90px;
}
/* ---------------------------------------------- */

.view,

.delete {
    border: none;
    padding: 5px 25px;
    color: #fff;
    font-weight: bold;
}

.view {
    background-color: #03A9F4;
    border-radius: 5px;
}

.delete {
    background-color: #E91E63;
    border-radius: 5px;
}

.tablefoot {
    padding: 0;
    border-bottom: 1px solid #009688;
}


/*  좋아요 css */

.like-content .btn-secondary {
    display: block;
    margin: 0px auto 0px;
    text-align: center;
    background: #ed2553;
    border-radius: 10px;
    box-shadow: 8px 8px 15px -5px rgb(240, 75, 113);
    padding: 10px 17px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    outline: none;
    color: #ffffff;
    text-decoration: none;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}

.like-content .btn-secondary:hover {
    transform: translateY(-3px);
}

.like-content .btn-secondary .fa {
    margin-right: 0px;
}

.animate-like {
    animation-name: likeAnimation;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-duration: 0.65s;
}

@keyframes likeAnimation {
0% {
    transform: scale(30);
}

100% {
    transform: scale(1);
}
}
/* 아이콘 연결 css */

.social-menu ul{
    position: fixed;
    bottom: 2%;
    left: 50%;
    padding: 0;
    margin: 0;
    transform: translate(-50%, -50%);
    display: flex;
}

.social-menu ul li{
    list-style: none;
    margin: 0 15px;
}

.social-menu ul li .fab{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    line-height: 60px;
    transition: .3s;
    color: #000;
}

.social-menu ul li .fab:hover{
    color: #fff;
}

/* 동그라미 마다 색 지정하는 방법 배우기 */

.social-menu ul li a{
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    transition: .5s;
    box-shadow: 0 5px 4px rgba(0,0,0,.5);
}

/* ---------------------------------------------------------- */

.social-menu ul li a:hover{
    transform: translate(0, -30%);
}

.social-menu ul li:nth-child(1) a:hover{
    background-color: #0a436c;
}
.social-menu ul li:nth-child(2) a:hover{
    background-color: #485a4f;
}
.social-menu ul li:nth-child(3) a:hover{
    background-color: #ff9e2c;
}
.social-menu ul li:nth-child(4) a:hover{
    background-color: #de554e;
}