body {
  background: radial-gradient(200% 100% at bottom center, #f7f7b6, #e96f92, #75517d, #1b2947);
  background: radial-gradient(220% 105% at top center, #1b2947 10%, #75517d 40%, #e96f92 65%, #f7f7b6);
  background-attachment: fixed;
  overflow: hidden;
}

@keyframes rotate {
  0% {
    transform: perspective(400px) rotateZ(20deg) rotateX(-40deg) rotateY(0);
  }
  100% {
    transform: perspective(400px) rotateZ(20deg) rotateX(-40deg) rotateY(-360deg);
  }
}
.stars {
  transform: perspective(500px);
  transform-style: preserve-3d;
  position: absolute;
  bottom: 0;
  perspective-origin: 50% 100%;
  left: 50%;
  animation: rotate 90s infinite linear;
}

.star {
  width: 2px;
  height: 2px;
  background: #F7F7B6;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 0 0 -300px;
  transform: translate3d(0, 0, -300px);
  backface-visibility: hidden;
}


/* 카드 3개 만들기 */
.card {
  position: relative;
  width: 17.5vw;
  aspect-ratio: 1 / 1.5;
  top: 28vh;
  left: 16vw;
  display: inline-block;
  border-radius: 30px;
  perspective: 1000px;
}

.card:nth-of-type(3) {
  left: 23.5vw;
}

.card:nth-of-type(4) {
  left: 31vw;
}

.front {
  width: 100%;
  height: 100%;
  position: absolute;
  display: inline-block;
  backface-visibility: hidden;
  background-size: 100% 100%;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  transition: transform 1.2s;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  animation-name: "";
  animation-duration: 0.7s;
  cursor: pointer;
  opacity: 0.75;
}

.card:nth-of-type(2) > .front{
  background-image: url("../../img/card.png");
}

.card:nth-of-type(3) > .front{
  background-image: url("../../img/card1.png");
}

.card:nth-of-type(4)  > .front{
  background-image: url("../../img/card2.png");
}

.front:hover {
  transform: translate(0,-5%);
  opacity: 1;
}

.back {
  width: 100%;
  height: 100%;
  background-color: #eeccbb;
  border-radius: 30px;
  position: inherit;
  display: inline-block;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  animation-name: "";
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  transform: rotateY(180deg);
  transition: transform 1.2s;
}


@keyframes test1{
  from{
    transform: scale(1);
  }
  to{
    transform: scale(1.2);
  }
}

@keyframes opacity {
  from{
    opacity: 0;
  }
  to{
    opacity: 0.75;
  }
}

@keyframes transparent {
  from{
    opacity: 0.75;
  }
  to{
    opacity: 0;
  }
}

@keyframes bigger {
  from{
    width: 100%;
    height: 100%;
    transform: rotateY('180deg');
  }
  to{
    transform: translate(5vw, -5.5vh);
    width: 60vw;
    height: 60vh;
    transform: rotateY('180deg');
  }
}
/* ---------------- */
/* 휴식방법 상자 */
.resttime{
  background-color: #eeccbb;
  position: fixed;
  width: 60vw;
  height: 60vh;
  top: 22vh;
  left: 20vw;
  right: 20vw;
  border-radius: 30px;
  opacity: 0;
  z-index: -1;
}

.resttime > img{
  background-color: #DB76A6;
  position: absolute;
  width: 45%;
  height: 80%;
  top: 10%;
  left: 5%;
  border-radius: 15px;
}

@font-face {
  font-family: 'RIDIBatang';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.resttime #text {
  font-family: 'RIDIBatang';
  font-size: 20px;
  background-color: #FAC0DB;
  display: inline-block;
  position: absolute;
  width: 40%;
  height: 45%;
  top: 15%;
  left: 55%;
}

#toBack {
  width: 60px;
  height: 60px;
  background-color: transparent;
  top: 0;
}