<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>회원가입</title>
<link rel='stylesheet'
	href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css'>
<link rel='stylesheet'
	href='https://unicons.iconscout.com/release/v2.1.9/css/unicons.css'>
<link rel="stylesheet" href="/made/css/login/login.css">
<script src="https://code.jquery.com/jquery-3.6.0.js"
	crossorigin="anonymous"></script>
<!-- script 부분을 제대로 넣어야지 ajax랑 $쓰는것이 제대로 작동한다 -->
</head>

<body>
	<!-- partial:index.partial.html -->


	<a href="/mbti/html/main.html" class="logo" target="_blank"> <img
		style="width: 10vh; height: 8vh; "
		src="/made/img/KakaoTalk_20221102_003617932.png" alt="">
	</a>



	<div class="section">
		<div class="container">
			<div class="row full-height justify-content-center">
				<div class="col-12 text-center align-self-center py-5">
					<div class="section pb-5 pt-5 pt-sm-2 text-center">
						<h6 class="mb-0 pb-3">
							<span type="button" onclick="flip_login();">로그인 </span>
							<span type="button" onclick="flip_register();">회원가입</span>
						</h6>
						<input class="checkbox" type="checkbox" id="reg-log"
							name="reg-log" /> <label for="reg-log"></label>
						<div class="card-3d-wrap mx-auto">
							<div class="card-3d-wrapper">

								<!-- 로그인 하는 부분 -->
								<div class="card-front">
									<form id="loginForm" class="form-horizontal" method="post"
										autocomplete="off">
										<div class="center-wrap">
											<div class="section text-center">
												<h4 class="mb-4 pb-3" style="font-size: 40px;">M B T I</h4>
												<!-- 로그인 - 아이디 -->
												<div class="form-group">
													<input type="text" name="userId" class="form-style"
														placeholder="아이디를 입력해 주세요." id="userId"
														autocomplete="off"> <i
														class="input-icon uil uil-at"></i>
												</div>
												<!-- 로그인 - 비밀번호 -->
												<div class="form-group mt-2">
													<input type="password" name="userPw" class="form-style"
														placeholder="비밀번호" id="userPw" autocomplete="off">
													<i class="input-icon uil uil-lock-alt"></i>
												</div>


												<button type="button" class="btn mt-4" onclick="login();">로그인</button>
												<p class="mb-0 mt-4 text-center">
													<a href="#0" class="link">비밀번호를 잊으셨나요?</a>
												</p>

											</div>
										</div>
									</form>
								</div>


								<!-- 회원가입 하는 부분 -->
								<div class="card-back">
									<form id="registerForm" class="form-horizontal" method="post"
										autocomplete="off">
										<div class="center-wrap">
											<div class="section text-center">
												<h4 class="mb-4 pb-3">회원가입</h4>
												<!-- 회원가입 - 아이디 -->
												<div class="form-group">
													<input type="text" name="registerId" class="form-style"
														placeholder="아이디를 입력해주세요" id="registerId" autocomplete="off">
								
													<i class="input-icon uil uil-user">
													<button type="button" onclick="checkId()"class="ID-Check" name="dbCheckId"><p style="font-size: 11px;">중복확인</p></button>
													</i>
												</div>



												<!-- 회원가입 -비밀번호 -->
												<div class="form-group mt-2">
													<input type="password" name="registerPw" class="form-style"
														placeholder="비밀번호를 입력해주세요" id="registerPw" autocomplete="off">
													<i class="input-icon uil uil-lock-alt"></i>
												</div>

												<!-- 회원가입 - 닉네임 -->
												<div class="form-group mt-2">
													<input type="text" name="registerName" class="form-style"
														placeholder="닉네임을 입력해주세요" id="registerName" autocomplete="off">
													<i class="input-icon uil uil-user">
													<button type="button" onclick="checkNickName()"class="ID-Check" name="dbCheckNickName"><p style="font-size: 11px;">중복확인</p></button>
													</i>
												</div>

												<!-- 회원가입 - MBTI -->
												<div  class="form-group mt-2">
													<div class="MbtiTable">
													<i class="input-icon uil uil-user">
													<select name="registerMbti" id="registerMbti" class="select">
														<option disabled selected>MBTI</option>
														<option value="ISTJ">ISTJ</option>
														<option value="ISFJ">ISFJ</option>
														<option value="INFJ">INFJ</option>
														<option value="INTJ">INTJ</option>
														<option value="ISTP">ISTP</option>
														<option value="ISFP">ISFP</option>
														<option value="INFP">INFP</option>
														<option value="INTP">INTP</option>
														<option value="ESTP">ESTP</option>
														<option value="ESFP">ESFP</option>
														<option value="ENFP">ENFP</option>
														<option value="ENTP">ENTP</option>
														<option value="ESTJ">ESTJ</option>
														<option value="ESFJ">ESFJ</option>
														<option value="ENFJ">ENFJ</option>
														<option value="ENTJ">ENTJ</option>
													</select>
													<span class="icoArrow"><img src="https://freepikpsd.com/media/2019/10/down-arrow-icon-png-7-Transparent-Images.png" alt=""></span>
													</i>
													<button type="button" onclick="mbtiTest()"class="MBTI-Check" name="dbCheckId"><p style="font-size: 11px;">MBTI 검사</p></button>
													</div>
												</div>

												<div class="form-group mt-2">
													<input type="email" name="registerEmail" class="form-style"
														placeholder="Email을 입력해주세요" id="registerEmail"
														autocomplete="off"> <i
														class="input-icon uil uil-at"></i>
												</div>

												<button type="button" class="btn mt-4" onclick="register();">회원가입하기</button>
												
											</div>
										</div>
									</form>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- partial -->
	<script src="/made/js/login/login.js"></script>

</body>
<script th:inline="javascript">
	/*<![CDATA[*/
	let master_piece = window.sessionStorage.getItem("master_piece");
	console.log(master_piece);
	if(master_piece!=null){
		$('#registerMbti').val(master_piece).prop("selected",true);
	}
	
	let idConfig = 0;
	let nickConfig =0;
	// 회원가입
	function register() {
		var re = /^[a-zA-Z0-9]{4,12}$/ // 아이디와 패스워드가 적합한지 검사할 정규식
		var re2 = /^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*.[a-zA-Z]{2,3}$/i;
		// 이메일이 적합한지 검사할 정규식
		var name = document.getElementById("registerName");
		var mbti = document.getElementById("registerMbti").value;
		
		const form = document.getElementById('registerForm');

		if (!check(re, form.registerId, "아이디는 4~12자의 영문 대소문자와 숫자로만 입력")) {
			return false;
		}
		if (!check(re, form.registerPw, "비밀번호는 4~12자의 영문 대소문자와 숫자로만 입력")) {
			return false;
		}
		if (!check(re2, form.registerEmail, "이메일은 example@naver.com 형식을 지켜주세요")) {
			return false;
		}
		if (form.registerName.value == "") {
			alert("닉네임을 입력해주세요");
			form.registerName.focus();
			return false;

		}
		if (idConfig == 0) {
			alert("아이디 중복검사를 해주세요");
			form.registerId.focus();
			return false;
		}
		if(nickConfig==0){
			alert("닉네임 중복검사를 해주세요");
			form.registerName.focus();
			return false;
		}
		if(form.registerMbti.value=="MBTI"){
			alert("MBTI를 선택해주세요")
			form.registerMbti.focus();
			return false;
		}
		
		

		alert("회원가입완료");
		//넘어갈 때는 name 으로 넘어간다! ㅋㅋㅋ
		form.action = '/register/save'
		form.submit();
	}

	function check(re, what, message) {
		if (re.test(what.value)) {

			return true;
		}
		alert(message);
		what.value = "";
		what.focus();
	}
	
	
	
	
	
	
	//회원가입 ajax로 구현(미완성)
	function register1() {
		var re = /^[a-zA-Z0-9]{4,12}$/ // 아이디와 패스워드가 적합한지 검사할 정규식
		var re2 = /^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*.[a-zA-Z]{2,3}$/i;
			// 이메일이 적합한지 검사할 정규식
		var name = document.getElementById("registerName");
		
			
		const form = document.getElementById('registerForm');
		const fields = [ form.registerId, form.registerPw, form.registerName,form.registerMbti,form.registerEmail ];

		if (!check(re, form.registerId, "아이디는 4~12자의 영문 대소문자와 숫자로만 입력")) {
			return false;
		}
		if (!check(re, form.registerPw, "비밀번호는 4~12자의 영문 대소문자와 숫자로만 입력")) {
			return false;
		}
		if (!check(re2, form.registerEmail, "이메일은 example@naver.com 형식을 지켜주세요")) {
			return false;
		}
		if (form.registerName.value == "") {
			alert("닉네임을 입력해주세요");
			form.registerName.focus();
			return false;

		}
		if (idConfig == 0) {
			alert("아아디 중복검사를 해주세요");
			form.registerId.focus();
			return false;
		}

		let id = $('#registerId').val(); //id값이 "userId"인 입력란의 값을 저장
		let pw = $('#registerPw').val(); 
		let name1 = $('#registerName').val(); 
		let mbti = $('#registerMbti').val(); 
		let email = $('#registerEmail').val(); 
		
		console.log(id);
		console.log(pw);
		console.log(name1);
		console.log(mbti);
		console.log(email);

		/* ajax로 구현 */
		$.ajax({
			url : '/register/save', //Controller에서 인식할 주소
			type : 'post', //POST 방식으로 전달
			data : {
				registerId : id,
				registerPw: pw,
				registerName :name1,
				registerMbti : mbti,
				registerEmail : email
			},
			success : function(outcome) {//성공하면 해당 함수를 실행한다.
				console.log(outcome); // 받아온 값이 무엇인지 확인(값을 제대로 받고 있는지 확인용)
				if (outcome == 1) { // 내가 받아온 값이 1이라면, 즉 db에 이미 해당 아이디가 존재한다면
					alert("이미 있는 아이디입니다");
				} else {
					alert("아이디를 사용해도 됩니다.");
					idConfig = 1;
				}
			},
			error : function() {
				alert("에러입니다");
			}
		});
	}

	//아이디 중복 확인을 위한 코드
	function checkId() {

		let id = $('#registerId').val(); //id값이 "userId"인 입력란의 값을 저장
		console.log(id);

		/* ajax로 구현 */
		$.ajax({
			url : '/register/checkid', //Controller에서 인식할 주소
			type : 'post', //POST 방식으로 전달
			data : {
				registerId : id
			},
			success : function(outcome) {//성공하면 해당 함수를 실행한다.
				console.log(outcome); // 받아온 값이 무엇인지 확인(값을 제대로 받고 있는지 확인용)
				if (outcome == 1) { // 내가 받아온 값이 1이라면, 즉 db에 이미 해당 아이디가 존재한다면
					alert("이미 있는 아이디입니다");
				} else {
					alert("아이디를 사용해도 됩니다.");
					idConfig = 1;
				}
			},
			error : function() {
				alert("에러입니다");
			}
		});
	}
	
	//로그인 용도
    function login() {
        const form = document.getElementById('loginForm');
        const fields = [form.userId, form.userPw];
       	
        if(form.userId.value==""){
        	alert("아이디를 입력해주세요");
        }
        else if(form.userPw.value==""){
        	alert("비밀번호를 입력해주세요");
        }
        else{
        	   form.action = '/register/loginVerify'                 	   
               form.submit();
                              	
        }
     
    }
	
	//닉네임 중복확인 부분
	function checkNickName() {

		let name = $('#registerName').val(); //id값이 "userId"인 입력란의 값을 저장
		console.log(name);

		/* ajax로 구현 */
		$.ajax({
			url : '/register/checkName', //Controller에서 인식할 주소
			type : 'post', //POST 방식으로 전달
			data : {
				registerName : name
			},
			success : function(outcome) {//성공하면 해당 함수를 실행한다.
				console.log(outcome); // 받아온 값이 무엇인지 확인(값을 제대로 받고 있는지 확인용)
				if (outcome == 1) { // 내가 받아온 값이 1이라면, 즉 db에 이미 해당 아이디가 존재한다면
					alert("이미 있는 닉네임입니다");
				} else {
					alert("닉네임을 사용해도 됩니다");
					nickConfig = 1;
				}
			},
			error : function() {
				alert("에러입니다");
			}
		});
	}
	
	function mbtiTest(){
		
		/* window.open('/register/mbtiTest','_blank','fullscreen');  */
		
		location.href = '/register/mbtiTest';
	}
	

	/*]]>*/
</script>
</html>