<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="c">
<body th:fragment="main-body" id="chattingRoom">


    <div class="cursor">
        <div class="text">MBTI</div>
        <div class="text">MBTI</div>
        <div class="text">MBTI</div>
        <div class="text">MBTI</div>
        <div class="text"><span>MBTI</span></div>
    </div>

    <div class="night">
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
    </div>
    <div class="header">
        <div id="header-time">
            
        </div>
        <div class="header-logo">
        	<a href="/register/main">
            	<img src="/made/img/main.png" alt="Logo" width="100px" height="80px">
        	</a>
        </div>
        <button class="close">
            <div class="top_menu">
                <span class="menu">menu</span>
            </div>
            <div class="hamburger">
                <input type="checkbox">
                <div class="hamburgerlines">
                    <span class="lines line1">
        
                    </span>
                    <span class="lines line2">
        
                    </span>
                    <span class="lines line3">
        
                    </span>
                </div>
                </div>
        </button>
    </div>


    <div class="social-menu">

    </div>

<!-- css 적용한 것 -->

    <div id="wrapper">
        <div class="main-content">
            <div class="row row-inline-block small-spacing">
                <div class="col-xs-12">
					<div class="clearfix">
                   	 	<h4 class="box-title pull-left"></h4>
						<th:block layout:fragment="search"></th:block>
                    </div>

                        <th:block layout:fragment="content"></th:block>

                        <th:block layout:fragment="paging"></th:block>
                    <th:block layout:fragment="add-content"></th:block>
                </div>
            </div>

            <footer class="footer">
                <ul class="list-inline"></ul>
            </footer>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/ScrollTrigger.min.js"></script>
	<script src="/made/js/chatting/chatting.js"></script>
    <script th:src="@{/scripts/common.js}"></script>
    <script th:src="@{/scripts/main.js}"></script>
    <script th:src="@{/plugin/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/plugin/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js}"></script>
    <th:block layout:fragment="script"></th:block>

</body>
</html>