<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.study.domain.resttime.ResttimeMapper">

	<!-- mbti_resttime 테이블 전체 컬럼 -->
	<sql id="restmethodColumn">
        mbti,
        how_to_rest,
        random_num
    </sql>

	<!-- MBTI 휴식방법 조회 -->
    <select id="getRestAsMbti" parameterType="com.study.domain.resttime.ResttimeRequest" resultType="String">
        SELECT
            how_to_rest
        FROM
            mbti_resttime
        WHERE
            mbti=#{userMbti} and random_num = #{randomNum};
    </select>
    
</mapper>