<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.study.domain.resttime.ResttimeMapper">

  <!-- tb_user 테이블 전체 컬럼 -->
    <sql id="registerColumns">
         user_id
        , user_pw
        , user_name
        , user_mbti
        , user_email
        , user_auth
        , append_date
        , update_date
    </sql>


	<!-- MBTI 조회 -->
    <select id="findByuserMbti" parameterType="Integer" resultType="com.study.domain.resttime.ResttimeMapper">
        SELECT
            count(*)
        FROM
            tb_user2
        WHERE
            user_mbti=#{userMbti}
    </select>
    
</mapper>