@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
@import url('https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Rock+Salt&display=swap');
@import url("hover-min.css");
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
}

body {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    height: 100vh;
  color: white;
  // font-family: 'Playfair Display', serif;
  width: 100%;
  overflow: hidden;
}

.header{
  width: 100%;
}

#header-time{
  font:lialic bold 1.5em/1em Georgin, serif;
  font-size: 18px;
  color: white;
  top: 56px;
  left: 104px;
  width: auto;
  height: 30px;
  position: absolute;
  display: inline-block;
}

.header-logo{
  font-size: 25px;
  top: 40px;
  right: 45.5%;
  width: 100px;
  height: 80px;
  position: absolute;
  text-align: center;
  display: inline-block;
}


button{
  font-size: 13px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 50px;
  display: inline-block;
  position: absolute;
  top: 44px;
  right: 32px;
  height: 41px;
  width: 128px;
}

@keyframes move1 {
    0% {
        opacity: 0;
        transform: scale(0.3);
      
    }
    50%{
        opacity: 0.85;
        transform: scale(1.2) rotate(-10deg);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@-webkit-keyframes scale-out-chat {
  0% {
    opacity: 1;
    transform: scale(1) rotate(-10deg);
  }
  50% {
    opacity: 0.85;
    transform: translateX(-50px) translateY(-50px) scale(1.2) rotate(-15deg);
  }
  100% {
    opacity: 0;
    transform: translateX(150px) translateY(100px) scale(0.3);
  }
}
@keyframes scale-out-chat {
  0% {
    opacity: 1;
    transform: scale(1) rotate(-10deg);
  }
  50% {
    opacity: 0.85;
    transform: translateX(-50px) translateY(-50px) scale(1.2) rotate(-15deg);
  }
  100% {
    opacity: 0;
    transform: translateX(150px) translateY(100px) scale(0.3);
  }
}

@keyframes move2 {
    0% {
        opacity: 0;
        transform: scale(0.3);
        visibility: visible;
    }

    50%{
        opacity: 0.85;
        transform: scale(1.2) rotate(27deg);
    }
    100% {
        opacity: 1;
        transform: rotate(17deg);
        
    }
}

@-webkit-keyframes scale-out-rest {
  0% {
    opacity: 1;
    transform: translateY(0) scale(1) rotate(27deg);
  }
  50% {
    opacity: 0.85;
    transform: translateX(50px) translateY(-50px) scale(1.2) rotate(27deg);
  }
  100% {
    opacity: 0;
    transform: translateX(-150px) translateY(100px) scale(0.3);
  }
}
@keyframes scale-out-rest {
  0% {
    opacity: 1;
    transform: translateY(0) scale(1) rotate(27deg);
  }
  50% {
    opacity: 0.85;
    transform: translateX(50px) translateY(-50px) scale(1.2) rotate(27deg);
  }
  100% {
    opacity: 0;
    transform: translateX(-150px) translateY(100px) scale(0.3);
  }
}

@keyframes move3 {
    0% {
        opacity: 0;
        transform: scale(0.3);
    }

    50%{
        opacity: 0.85;
        transform: scale(1.15) rotate(-27deg);
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes scale-out-credits {
  0% {
    opacity: 1;
    transform: scale(1) rotate(-17deg);
  }
  50% {
    opacity: 0.85;
    transform: translateX(-50px) translateY(50px) scale(1.2) rotate(27deg);
  }
  100% {
    opacity: 0;
    transform: translateX(100px) translateY(-100px) scale(0.3);
  }
}
@keyframes scale-out-credits {
  0% {
    opacity: 1;
    transform: scale(1) rotate(-17deg);
  }
  50% {
    opacity: 0.85;
    transform: translateX(-50px) translateY(50px) scale(1.2) rotate(-27deg);
  }
  100% {
    opacity: 0;
    transform: translateX(100px) translateY(-100px) scale(0.3);
  }
}

@keyframes move4 {
    0% {
        opacity: 0;
        transform:  scale(0.3);
    }
    50%{
        opacity: 0.85;
        transform: scale(1.15) rotate(10deg);
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes scale-out-notice {
  0% {
    opacity: 1;
    transform: scale(1) rotate(10deg);
  }
  50% {
    opacity: 0.85;
    transform: translateX(50px) translateY(50px) scale(1.2) rotate(15deg);
  }
  100% {
    opacity: 0;
    transform: translateX(-130px) translateY(-100px) scale(0.3);
  }
}
@keyframes scale-out-notice {
  0% {
    opacity: 1;
    transform: scale(1) rotate(10deg);
  }
  50% {
    opacity: 0.85;
    transform: translateX(50px) translateY(50px) scale(1.2) rotate(15deg);
  }
  100% {
    opacity: 0;
    transform: translateX(-130px) translateY(-100px) scale(0.3);
  }
}

.main{
  background-color: cornflowerblue;
  width: 80%;
  position: relative;
  left: 10%;
  top: 160px;
  font-family: 'Playfair Display', serif;
  font-family: 'Rock Salt', cursive;
  font-size: 80px;
}

.main-chat {
  width: auto;
  height: auto;
  position: absolute;
  display: inline-block;
  background-color: #4D648D;
  top: 5vh;
  left: 41vw;
  margin-left: -450px;
  padding-left: 45px;
  padding-right: 140px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 100px;
  animation: move1 1.5s;
  animation-timing-function: cubic-bezier(1, 0.8, 0.8);

  &:hover{
    transform: scale(1.15) rotate(-10deg);
    transition: 0.2s;
  }
  &:not(:hover){
    transform: scale(1);
    transition: 0.2s
  }
}



.main-resttime{
  width: auto;
  height: auto;
  font-size: 60px;
  line-height: 1.4;
  position: absolute;
  display: inline-block;
  transform: rotate(17deg);
  background-color: #114469;
  top: 5vh;
  left: 41vw;
  padding-left: 45px;
  padding-right: 120px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 70px;
  opacity: 0;
  -webkit-animation: move2 1.5s;
          animation: move2 1.5s;
  -webkit-animation-timing-function: cubic-bezier(1, 0.8, 0.8);
          animation-timing-function: cubic-bezier(1, 0.8, 0.8);
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;

  &:hover{
    transform: scale(1.15) rotate(27deg);
    transition: 0.2s;
  }
  &:not(:hover){
    transform: scale(1) rotate(17deg);
    transition: 0.2s;
  }
}

.main-credits{
  font-size: 40px;
  position: absolute;
  transform: rotate(-17deg);
  background-color: #fe9c3e;
  top: 5vh;
  left: 41vw;
  margin-top: 250px;
  margin-left: -325px;
  padding: 65px;
  padding-top: 110px;
  padding-bottom: 110px;
  padding-inline-start: 20px;
  border-radius: 100%;
  align-items : center;
  opacity: 0;
  animation: move3 1.5s;
  animation-timing-function: cubic-bezier(1, 0.8, 0.8);
  animation-delay: 0.3s;

  &:hover{
    transform: scale(1.1) rotate(-27deg);
    transition: 0.2s;
  }
  &:not(:hover){
    transform: scale(1) rotate(-17deg);
    transition: 0.2s;
  }
}

.main-noticeBoard{
  font-size: 60px;
  line-height: 1.4;
  position: absolute;
  background-color: #db5551;
  top: 5vh;
  left: 41vw;
  margin-top: 270px;
  margin-left: 10px;
  padding: 30px;
  padding-top: 60px;
  padding-bottom: 60px;
  border-radius: 30px 100px 30px 30px;
  opacity: 0;
  animation: move4 1.5s;
  animation-delay: 0.4s;
  
  &:hover{
    transform: scale(1.1) rotate(10deg);
    transition: 0.2s;
  }
  &:not(:hover){
    transform: scale(1);
    transition: 0.2s;
  }
}

.right-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: auto;
  left: 100%;
  bottom: auto;
  right: auto;
  background: #6c567b;
  transition: all 0.9s cubic-bezier(0.6, 0.05, 0.4, 1);
}
.right-layer.active {
  left: -100%;
}
.right-layer--2 {
  background: #393e46;
  transition-delay: 0.6s;
}
.right-layer--3 {
  background: #6c5b7b;
  transition-delay: 0.4s;
}
.right-layer--4 {
  background: #c06c84;
  transition-delay: 0.2s;
}
.right-layer--5 {
  background: #f67280;
  transition-delay: 0.1s;
}

.resttime{
  background-color: #DCCFEC;
  position: fixed;
  width: 60vw;
  height: 60vh;
  top: 22.5vh;
  left: 20vw;
  border-radius: 50px;
}

.resttime img{
  background-color: #6c5b7b;
  position: absolute;
  width: 45%;
  height: 80%;
  top: 10%;
  left: 5%;
  border-radius: 15px;
}
@font-face {
  font-family: 'RIDIBatang';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.resttime #text {
  font-family: 'RIDIBatang';
  font-size: 20px;
  background-color: #393e46;
  display: inline-block;
  position: absolute;
  width: 40%;
  height: 45%;
  top: 15%;
  left: 55%;
}

// 여기서부터 동그라미
.social-menu ul{
  position: fixed;
  bottom: 2%;
  left: 50%;
  padding: 0;
  margin: 0;
  transform: translate(-50%, -50%);
  display: flex;
}

.social-menu ul li{
  list-style: none;
  margin: 0 15px;
}

.social-menu ul li .fab{
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 700;
  line-height: 60px;
  transition: .3s;
  color: #000;
}

.social-menu ul li .fab:hover{
  color: #fff;
}

/* 동그라미 마다 색 지정하는 방법 배우기 */

.social-menu ul li a{
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
  transition: .5s;
  box-shadow: 0 5px 4px rgba(0,0,0,.5);
}

/* ---------------------------------------------------------- */

.social-menu ul li a:hover{
  transform: translate(0, -30%);
}

.social-menu ul li:nth-child(1) a:hover{
  background-color: #0a436c;
}
.social-menu ul li:nth-child(2) a:hover{
  background-color: #485a4f;
}
.social-menu ul li:nth-child(3) a:hover{
  background-color: #ff9e2c;
}
.social-menu ul li:nth-child(4) a:hover{
  background-color: #de554e;
}